@using AspNetCoreMvcApplication.Controllers
@model AspNetCoreMvcApplication.Models.Login

<link rel="stylesheet" type="text/css" href="css/devextreme/dx.common.css" />
<link rel="stylesheet" type="text/css" href="css/devextreme/dx.light.css" />
<link rel="stylesheet" type="text/css" href="css/Site.css" />
<script src="~/js/AuthenticationCode.js"></script>

<title>Log In</title>
<h1 style="margin-top:5%; margin-bottom:5%;">Welcome to the XAF's Security in Non-XAF Apps Demo</h1>
@using (Html.BeginForm("Authentication", "Authentication", FormMethod.Post, new { style = "text-align:center" })) {
    <h2>Enter your user name (<b>Admin</b> or <b>User</b>) to proceed.</h2>
    <div class="login-input">
        @(Html.DevExtreme().TextBoxFor(m => m.UserName)
            .ID("userName")
            .Name("userName")
            .Placeholder("User name")
            .TabIndex(2)
            .OnEnterKey("pressEnter")
        )
    </div>
    <div class="login-input">
        @(Html.DevExtreme().TextBoxFor(m => m.Password)
            .ID("password")
            .Name("Password")
            .Placeholder("Password")
            .Mode(TextBoxMode.Password)
            .TabIndex(3)
            .OnEnterKey("pressEnter")
        )
    </div>
    <h2 style="margin-bottom:0; color:#bdbdbd">This demo app does not require</h2>
    <h2 style="margin:0; color:#bdbdbd">a password for login.</h2>
    <div style="margin-top: 15%;">
        @(Html.DevExtreme().Button()
            .ID("validateAndSubmit")
            .Text("Log In")
            .UseSubmitBehavior(true)
        )
    </div>
}

@if (!ViewContext.ModelState.IsValid) {
    <script>
        showError('@ViewContext.ModelState.GetErrorMessage()');
    </script>
}

