<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
		   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
            <!-- Obtain Your NuGet Feed URL: https://nuget.devexpress.com/-->
			<add key="DevExpress-Remote" value="https://nuget.devexpress.com/{Your feed authorization key}/api"  />
    </packageSources>
</configuration>