<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="DevExtreme ASP.NET MVC Controls"
              value="%ProgramFiles(x86)%\DevExpress 19.1\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
        <add key="DevExpress 19.1 Local"
              value="%ProgramFiles(x86)%\DevExpress 19.1\Components\System\Components\Packages" />
	</packageSources>
    <packageRestore>
        <add key="enabled" value="False" />
        <add key="automatic" value="False" />
    </packageRestore>
</configuration>