
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" type="text/css" href="~/css/vendor.css" />
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="~/js/vendor.js" asp-append-version="true"></script>
</head>
<body>
	@RenderBody()
</body>

</html>



