@inject NavigationManager NavigationManager
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
			<NotAuthorized>
				@{ 
                    string returnUrl = "~/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
					NavigationManager.NavigateTo($"Login?returnUrl={returnUrl}", forceLoad:true);
				}
			</NotAuthorized>
		</AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
