@page "/authorization"
@layout LoginLayout
@using BlazorServerSide
@using Microsoft.AspNetCore.Components
@using DevExpress.ExpressApp.Security
@using DevExpress.ExpressApp.Security.ClientServer
@using DevExpress.ExpressApp

@inject IUriHelper UriHelper
@inject AuthenticationStandard auth
@inject SecurityStrategyComplex security
@inject SecuredObjectSpaceProvider osProvider
@inject EmployeeService EmployeeService

<h1 class="h2 font-weight-normal login-title">
	Authorization
</h1>

<form class="form-signin">
	<label for="inputUsername" class="sr-only">User Name</label>
	<input id="inputUsername" class="form-control" placeholder="Username" required autofocus bind="@userName" />

	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required bind="@password" />
	<label id="errorLabel" class="alert-danger" hidden=@(!isError)>@errorString</label>
	<button class="btn btn-lg btn-primary btn-block" onclick="@Login">Login</button>
</form>

@functions {
	private string userName;
	private string password;
	private bool isError = false;
	private string errorString;

	private void Login() {
		IObjectSpace nonSecuredObjectSpace = osProvider.CreateNonsecuredObjectSpace();
		auth.SetLogonParameters(new AuthenticationStandardLogonParameters(userName, password));
		try {
			security.Logon(nonSecuredObjectSpace);
			EmployeeService.securedObjectSpace = osProvider.CreateObjectSpace();
			UriHelper.NavigateTo("/");
		}
		catch(Exception ex) {
			isError = true;
			errorString = ex.Message;
		}
	}
}