<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="d-flex">
        <img class="mt-2 mr-4" src="images/sad.svg" width="60" height="60" />
        <div>
            <div class="h1">Your browser is not supported.</div>
            <p style="font-size: 1rem; opacity: 0.75;" class="m-0">In .NET 5.0, Blazor does not support Microsoft Internet Explorer and Microsoft Edge Legacy (refer to <a target="_blank" href="https://docs.devexpress.com/Blazor/401588/common-concepts/supported-browsers">Supported Browsers</a>).<br />Please use a different browser to run Blazor.ServerSide.</p>
        </div>
    </div>
</div>
