@page "/Login"
@model Blazor.ServerSide.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
<link href="css/site.css" rel="stylesheet" />

<title>Log In</title>
<h1>Welcome to the XAF's Security in Non-XAF Apps Demo</h1>
<h2>Enter your user name (<b>Admin</b> or <b>User</b>) to proceed.</h2>
<div class="login-form">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <input asp-for="Input.UserName" placeholder="User Name" class="login-input" />
        </div>
        <div>
            <input asp-for="Input.Password" type="password" placeholder="Password" class="login-input" />
        </div>
        <h2 style="margin-bottom:0; color:#bdbdbd">This demo app does not require</h2>
        <h2 style="margin-bottom:10px; color:#bdbdbd">a password for login.</h2>
        <div class="login-form">
            <button type="submit" class="btn btn-primary" style="margin-top: 15%;">Log In</button>
        </div>
    </form>
</div>