<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v20.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>