<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Images.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Validation.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Xpo.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v19.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>