@page "/"
@namespace Blazor.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
</head>
<body>
    @{
        var isIEOrEdgeLegacy = Request.Headers["User-Agent"]
            .Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident") || userAgent.Contains("Edge/"));
    }
    @if(isIEOrEdgeLegacy) {
        <component type="typeof(Blazor.ServerSide.Shared.BrowserNotSupported)" render-mode="Static" />
    } else {
        <component type="typeof(Blazor.ServerSide.App)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
    }
    @Html.AntiForgeryToken()
</body>
</html>
