<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet">
    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet">
    @*<link href="~/css/devextreme/bootstrap.css.map" rel="stylesheet">*@
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/Site.css" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    @*<script src="~/js/devextreme/bootstrap.js.map"></script>*@
    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>
    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/dx.aspnet.data.js"></script>
</head>
<body>
	@RenderBody()
</body>

</html>