h1 {
    text-align: center;
    font-size: 30px;
    color: darkorange;
    margin: 3%;
}

h2 {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-input {
    margin-bottom: 10px;
    width: 300px;
    padding: 3px;
    border-width: thin;
    border-color: lightgray;
}


